<html>
    <head>
        <title>Quick Madlibs</title>
    </head>
    <body>
    <p>Let's do some simple madlibs!!</p>
    <hr/>
        <form method="post" action="/madlib/1">

          <lable for="Adjective">Adjective:</lable>
          <input name="adjective" id="Adjective" type="text"><br><br>
          <lable for="verb1">Verb:</lable>
          <input name="verb1" id="Verb" type="text"><br><br>
          <label for="verb2">Verb:</label>
          <input name="verb2" id="Verb" type="text"><br><br>
          <lable for="famous person">Famous Person:</lable>
          <input name="famous person" id="Famous Person" type="text"><br><br>
          <input type="submit" value="Let's Go!">
        
        </form> 
     <hr/>
        <form method="post" action="madlib/2">

            <lable for="adjective">Adjective:</lable>
            <input name="adjective" id="Adjective" type="text"><br><br>
            <lable for="noun">Noun:</lable>
            <input name="noun" id="Noun" type="text"><br><br>
            <label for="bodypart">Body Part:</label>
            <input name="bodypart" id="Body Part" type="text"><br><br>
            <input type="submit" value="Let's Go!">

        </form>   

    </body>   

</html>